.side-left{
    position: fixed;
    // left: 10px;
    // top: 2.5vh;
    width: $space;
    // width: fit-content;
    height: 100%;
    // padding: 10px;
    background-color: $bg;
    color: $white;
    // border-radius: 10px;

    .nav-brand{
        text-align: center;
        padding: 10px;
    }

    .link{
        margin-top: 35px;
        a{
            color: $white;
            text-decoration: none;
            span{
                margin-left: 10px;
            }
        }
        .icon{
            padding: 10px;
            margin: 10;
            transition: 300ms;
            // text-decoration: none;
            // text-align: center;
            border-radius: 10px;
            &:hover{
                background-color: $bg-hover;
                cursor: pointer ;
            }
        }
    }
}

.other-side{
    margin-left: calc($space + 20px);
    width: calc(100% - $space);
}